@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital,wght@1,300&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Montserrat', sans-serif;
}

input{
    border:1px solid #ccc;
    height:30px;
    padding-left:15px;
    border-radius: 10px;
}

input:hover{
    outline: none;
    border:1px solid rgb(40,40,40);
}

input:focus{
    outline: none;
    border:1px solid rgb(40,40,40);
}

.primary-contained-btn{
    background-color:#FFD4B2 ;
    height:40px;
    padding:0 20px;
    color: white;
}